/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}
.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Style for the text that triggers the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Style for dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Style for dropdown items on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}